<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria_rec.nombre %>
</p>

<%= link_to 'Edit', edit_categoria_rec_path(@categoria_rec) %> |
<%= link_to 'Back', categoria_recs_path %>
