<div class="container-fluid">
<h1>Nuevo Ingrediente</h1>

<%= render 'form' %>
</br>

<div class="row">
    <div class="col-lg-5">
      <%= link_to 'Mostrar lista de ingredientes', ingredientes_path %>
    </div>
  </div>
  
  </div>

