<div class="container-fluid">

<div class="row">
<div class="col-lg-8">

<h1>Nueva cuenta</h1>

<%= render 'formCuenta' %>

</div>
</div>

</br>

<div class="row">
    <div class="col-lg-8">

<%= link_to 'Cancelar', '/' %>
</div>

</div>

</div>

