

<div class="container-fluid">

<br /><br />
                    <!-- /.row -->
                        <div class="col-lg-2"></div>                  
                        <div class="col-lg-7">
                            <center>
                                <div class="panel panel-red">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> LogIn</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-4"></div>                  
                                    <div class="col-lg-4">
                                        <label>Username:</label>
                                        <input type="text" class="form-control" /><br />
                                        <label>Password:</label>
                                        <input type="password" class="form-control" /><br /><br />
                                        <%= button_to "Entrar", :inicio, :method => "get", :class => "btn btn-default" %>
                                    </div>
                                </div>
                            </div>
                            </center>
                        <div class="col-lg-3"></div> 
                    </div>

                </div>
            </div>
   