<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria_ing.nombre %>
</p>

<%= link_to 'Edit', edit_categoria_ing_path(@categoria_ing) %> |
<%= link_to 'Back', categoria_ings_path %>
